<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.service">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:label="远程服务"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".callback.CalculateResultActivity"
            android:label="使用参数回调" />

        <service
            android:name=".RemoteBinderService"
            android:exported="true"
            android:label="远程绑定服务"
            android:process="com.renj.remote.binder">
            <intent-filter>
                <action android:name="com.renj.remote.binder" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service
            android:name=".callback.CalculateResultService"
            android:exported="true"
            android:label="使用参数回调"
            android:process="com.renj.remote.callback">
            <intent-filter>
                <action android:name="com.renj.remote.callback" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>
</manifest>