<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.customview">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <!-- 前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity android:name=".MainActivity"
            android:theme="@style/AppBaseMainTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ColorActivity"/>
        <activity android:name=".LinearGradientActivity"/>
        <activity android:name=".RadialGradientActivity"/>
        <activity android:name=".SweepGradientActivity"/>
        <activity android:name=".BitmapShaderActivity"/>
        <activity android:name=".ColorFliterActivity"/>
        <activity android:name=".LockActivity"/>
        <activity android:name=".WaveActivity"/>
        <activity android:name=".RulerActivity"/>
        <activity android:name=".ScrollActivity"/>
        <activity android:name=".CloudMusicLoadingActivity"/>
        <activity android:name=".VerticalTextIndicatorActivity"/>
        <activity android:name=".TextActivity"/>
        <activity android:name=".picker.SampleActivity"/>
        <activity android:name=".DrawTextActivity"/>
        <activity android:name=".DrawMoreLineActivity"/>
        <activity android:name=".FloatActivity"/>
        <activity android:name=".lockscreen.HomeActivity"
            android:launchMode="singleTop"
            >
        </activity>
        <activity android:name=".lockscreen.ScreenLockActivity"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:screenOrientation="portrait"
            />
        <service android:name=".lockscreen.ScreenLockService"
            android:exported="false"
            />

        <!-- 开机启动 -->
        <receiver android:name=".lockscreen.SystemBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <activity android:name=".ImageAuthenticationActivity"/>
        <activity android:name=".TravelPeopleActivity"/>
        <activity android:name=".CanvasActivity"/>
        <activity android:name=".ShipActivity"/>
        <activity android:name=".MatrixActivity"/>
        <activity android:name=".DoodleActivity"/>
        <activity android:name=".GuaGuaActivity"/>
    </application>

</manifest>